.wrapper {
    position: relative;
    width: 100vw;
    max-width: 100vh;
    max-height: 177.77vw;
    height: 177.78vw;
    overflow: hidden;
    margin: 0 auto;
    background-color: #CACACA;
}

/* HOME */
.banners {
    height: 30vh;
    position: relative;
}
.banner-home-slider {
    position: relative;
    height: 100%;
}
.banner-home-slide {
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.home-main {
    height: 70vh;
    display: flex;
}
.sidebar {
    width: 35vw;
    background-color: #172119;
    color: #fff;
    padding: 2.5vh;
    text-align: center;
}
.sidebar .logo img {
    width: 100%;
}
.sidebar .logo p {
    margin: 0;
    text-transform: uppercase;
    font-size: 3vh;
}
.menu {
    width: 65vw;
}
/* HOME */



/* PAGE */
.page-header {
    height: 5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-header h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.page-content {
    height: 95vh;
    overflow-y: auto;
    position: relative;
    padding: 0 2vh;
}
.page-block {
    margin: 2vh 0;
}
.page-block:nth-of-type(1) {
    margin-top: 0;
}
.page-block-image img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/* PAGE */